*{
    box-sizing:border-box;
}

body{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    background:#f2f2f2;
    color:#333;
}

.container{
    width:90%;
    max-width:1000px;
    margin:auto;
    padding:30px 0;
}

.top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

h1{
    margin-bottom:5px;
}

.top p{
    margin-top:0;
}

.mode{
    padding:10px 18px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:15px;
}

#search{
    width:100%;
    padding:14px;
    border-radius:8px;
    border:1px solid #ccc;
    font-size:16px;
    margin-bottom:25px;
}

.player-section{
    text-align:center;
    background:white;
    padding:25px;
    border-radius:12px;
}

video{
    width:100%;
    max-width:700px;
    border-radius:10px;
}

.controls{
    margin-top:15px;
}

.controls button{
    padding:10px 20px;
    margin:5px;
    border:none;
    border-radius:7px;
    cursor:pointer;
    font-size:15px;
}

.library-title{
    margin-top:35px;
}

.video-list{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    gap:15px;
}

.video-card{
    background:white;
    padding:20px;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

.video-card:hover{
    transform:scale(1.03);
}

.video-card h3{
    margin-top:0;
}

.dark-mode{
    background:#1e1e1e;
    color:white;
}

.dark-mode .player-section,
.dark-mode .video-card{
    background:#2c2c2c;
    color:white;
}

.dark-mode #search{
    background:#333;
    color:white;
    border-color:#555;
}
